# ComfyUI.config
# Config file for the workflow and prompt tags added by ComfyUI
# save this into a file called ComfyUI.config in the same directory as exiftool. You can then
# use this command to copy the tags
#    exiftool -config ComfyUI.config -TagsFromFile Source.Png -workflow -prompt Target.png
%Image::ExifTool::UserDefined = (
    'Image::ExifTool::PNG::TextualData' => {
        # Example 12.  PNG:NewPngTag1
        workflow => { %unreg }, # (written by ComfyUI)
        # Example 13.  PNG:NewPngTag2
        prompt => { %unreg }, # (written by ComfyUI)
    },
);
